@media screen and (min-width: 720px){
  /* 隐藏回到顶部的按钮 */
  .back-to-ceiling {
    display: none !important;
  }
}

/* 设置navbar透明 */
.custom-navbar {
  box-shadow: none !important;
  background: transparent !important;
}

.custom-navbar .site-name {
  color: #7F7F7F !important;
}

.custom-navbar .links {
  background-color: transparent !important;
}

.custom-navbar .links a {
  color: #7F7F7F;
}

/* 设置首页文字动画 */
.home-blog .description,.home-blog .hero h1 {
  opacity: 1 !important;
  position: relative;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}

.home-blog .description {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
  }

  18.1%, 20.1%, 50.1%, 60%, 65.1%, 80%, 90.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}

/* 设置点击下一页的箭头 */
.anchor-down {
  display: block;
  margin: 12rem auto 0;
  width: 20px;
  height: 20px;
  font-size: 34px;
  text-align: center;
  animation: bounce-in 5s 3s infinite;
  position: absolute;
  bottom: 90px;
  cursor: pointer;
}

@keyframes bounce-in {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}

.anchor-down::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  bottom: 10px;
}

.anchor-down::after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(135deg);
}
